QindieGL.log
rtx-remix/logs/bridge32.log
rtx-remix/logs/bridge64.log
rtx-remix/logs/remix-dxvk.log
CryOfFear/console_history.txt
nrc_session_log.txt
CryOfFear/save/c_start.HL3
CryOfFear/save/c_start.HL2
CryOfFear/save/c_start.HL1
